body {
	background: url("../img/imgindex.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-color: transparent;
  }

.navbar-default {
  background-color:teal;
 }


 