body {
	background: url("../img/imgtwo.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	color: ##000000;
  	font-family: "Open Sans", Arial, sans-serif;
}

.navbar-default {
  background-color:teal;
 }

 strong {
  color: #222324;
}

.card-title {
  color: #00008B;
  font-weight: 300;
}

